<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">如何开通？</h2>
                    <h3 class="section-subheading text-muted">只需几步，余下的交给平衡宝</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>第一步</h4>
                                    <h4 class="subheading">开通您的股票账户</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">首先您需要开通一个支持算法交易的股票账户。在这里我们像您推荐Interactive Brokers （IB），它良好的信誉度和开放的数据接口为平衡宝提供了稳定的平台。开通IB账户时您需要填写一些表格文件，并注入您的启动资金。不懂如何填写表格？别担心，我们将为您提供帮助。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>第二步</h4>
                                    <h4 class="subheading">配置您的平衡宝</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">如果您已经有了看好的股票，请告诉我们。如果您对股票并无了解，我们亦可为您推荐稳健的方案。如果您希望配置平衡宝的细节参数，也请告诉我们。在与您充分讨论之后，我们将为您定制私人化的平衡宝。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>第三步</h4>
                                    <h4 class="subheading">连接平衡宝至股票账户</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">在您指定的开始日期，我们会将平衡宝连接到您的IB股票账户。接下来，您无需继续任何操作。平衡宝将根据股票价格波动每天优化您的股票配额。您可以随时登陆IB查看账户信息。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>现在
									<br>就加入
                                    <br>平衡宝吧</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>