<section id="faq">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">常见问题</h2>
				<h3 class="section-subheading text-muted">这里汇聚了一些关于平衡宝的常见问题</h3>
			</div>
		</div>

		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			如果您在这里没有找到你所需要的信息，欢迎联系我们。我们将为您提供解答。
		</div>

		<br />

		<div class="panel-group" id="accordion">
			<div class="faqHeader">入门</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#col1">平衡宝是否收取交易费？</a>
					</h4>
				</div>
				<div id="col1" class="panel-collapse collapse in">
					<div class="panel-body">
						平衡宝<strong>不收取</strong>任何交易费。所有交易费由Interactive Brokers产生。详情请参看Interactive Brokers网站。
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col2">使用平衡宝是否存在风险？</a>
					</h4>
				</div>
				<div id="col2" class="panel-collapse collapse">
					<div class="panel-body">
						是的。平衡宝是基于股票市场的产品，因此存在一定的风险。我们建议您选择不同领域的股票，而不是将选择局限于某个领域（如科技板块）。这样，平衡宝的分配算法能在股市低迷市帮您有效的对冲风险。 
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col3">平衡宝如何收费？</a>
					</h4>
				</div>
				<div id="col3" class="panel-collapse collapse">
					<div class="panel-body">
						每个季度，我们将收取您的获利的10%-20%做为佣金。如果您的股票账户在当月没有盈利，则平衡宝不收取任何费用。例如，您投入的1万美元股票账户在第三季度的回报率是3%，即300美元。按照10%的佣金来计算，平衡宝在这个季度结束时收取30您美元。如果您的1万美元在第三季度没有盈利，则余额宝不收取任何费用。
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col4">平衡宝是否会转移或挪用我的账户中的钱和股票？</a>
					</h4>
				</div>
				<div id="col4" class="panel-collapse collapse">
					<div class="panel-body">
						不会。平衡宝只能够在您的账户中进行股票买卖。这就好比您是一家快餐店的店主，您请平衡宝作为前台收银员。随后您把平衡宝锁在前台并离开了快餐店。此后平衡宝进行的所有交易，都只局限在点餐台内。所有交易的获利都存放在点餐台的收银机。没有您的钥匙，平衡宝无权也无法将您的股票和现金带出点餐台。
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col5">开通平衡宝需要多长时间？</a>
					</h4>
				</div>
				<div id="col5" class="panel-collapse collapse">
					<div class="panel-body">
						从我们的经验来看，开通Interactive Brokers股票账户需要2至3周。开通后资金到账需要1周的时间。当资金准备就绪，平衡宝可以立即绑定到您的股票账户，当日开始交易。
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col6">使用平衡宝所需要的初始资金是多少？</a>
					</h4>
				</div>
				<div id="col6" class="panel-collapse collapse">
					<div class="panel-body">
						1万美元。这是开通Interactive Brokers所需要的最低额度。
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col7">平衡宝可以对那些股票进行交易？</a>
					</h4>
				</div>
				<div id="col7" class="panel-collapse collapse">
					<div class="panel-body">
						目前平衡宝支持对美国市场的股票和交易所交易基金(ETF)进行交易。在美国上市的中国公司股票也在交易范围内。
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col8">平衡宝支持哪种交易货币？</a>
					</h4>
				</div>
				<div id="col8" class="panel-collapse collapse">
					<div class="panel-body">
						仅美元。在向Interactive Brokers中注入初始资金时，您可以选择从其他货币兑换成美元。但在此之后，所有的交易及结算都是美元。
					</div>
				</div>
			</div>

			<div class="faqHeader">进阶</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col9">平衡宝的每次交易间隔是多久？</a>
					</h4>
				</div>
				<div id="col9" class="panel-collapse collapse">
					<div class="panel-body">
						理论上平衡宝每天都会进行交易。如果今天持有的股票配额在明天的收益预期为正时（即盈利时），平衡宝不会进行交易。
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col10">我可以选择多少只股票或交易所基金？</a>
					</h4>
				</div>
				<div id="col10" class="panel-collapse collapse">
					<div class="panel-body">
						理论上您可以选择所有在美国可以交易的股票。但是，选择所有的股票往往等同于选择了交易所基金。过多的股票，虽然对冲掉了波动的风险，但同时也降低了您的回报。另外，过多的股票会造成过多的交易费。
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col11">平衡宝是不是高频交易？我能否定制平衡宝以进行高频交易？</a>
					</h4>
				</div>
				<div id="col11" class="panel-collapse collapse">
					<div class="panel-body">
						平衡宝不是高频交易算法。高频交易算法的交易间隔一般小于毫秒级。平衡宝的交易是以天为单位。您可以定制私人化的平衡宝从而达到最小间隔为分钟级的交易。需要注意的是，这种频率的交易往往属于<strong>当日冲销</strong>，根据美国Financial Industry Regulatory Authority 和 SEC的规定，当日冲销的股票账户需要更多的初始资金。请参阅Interactive Brokers上的详细信息。
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col21">我能否得知平衡宝今日对股票进行了怎样的交易？</a>
				</h4>
			</div>
			<div id="col21" class="panel-collapse collapse">
				<div class="panel-body">
					可以。每天您会收到来自Interactive Brokers的一封电子邮件，总结了当日您账户中所产生的股票交易。
					<br />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col12">平衡宝的算法原理是什么？</a>
				</h4>
			</div>
			<div id="col12" class="panel-collapse collapse">
				<div class="panel-body">
					从算法层面讲，平衡宝融合了Online Learning和Ensemble Learning，通过对价格波动的预测对股票配额进行优化。
					<br />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col13">我观察到平衡宝今天没有对我的股票配额进行优化，这正常么？</a>
				</h4>
			</div>
			<div id="col13" class="panel-collapse collapse">
				<div class="panel-body">
					正常。如果今天持有的股票配额在明天的收益预期为正时（即已经是较优值），平衡宝不会进行交易。只有当今日持有的股票配额在明天的预期收益为负值时，平衡宝才会对其做出改变。	
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col14">我想暂停或终止平衡宝和我的股票账户的绑定，是否可以立即执行？
					</a>
				</h4>
			</div>
			<div id="col14" class="panel-collapse collapse">
				<div class="panel-body">
					是的。无论在交易时间，还是非交易时间，您都可以随时停止平衡宝对您股票账户的操作，也可以完全终止平衡宝与您股票账户的绑定。取决于您与我们事先签订的协议，在停止平衡宝时，我们可能会抽取您在当季度的部分盈利作为佣金。
				</div>
			</div>
		</div>

		<div class="faqHeader">股票账户</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col15">平衡宝和Interactive Brokers是什么关系？</a>
				</h4>
			</div>
			<div id="col15" class="panel-collapse collapse">
				<div class="panel-body">
					Interactive Brokers为平衡宝提供了开放的数据接口，使得平衡宝的算法可以直接在您的账户范围内交易股票。平衡宝和Interactive Brokers<strong>不存在</strong>商业上的合作关系。平衡宝并非Interactive Brokers的产品。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col16">我有其他的股票账户，是否可以使用平衡宝？
					</a>
				</h4>
			</div>
			<div id="col16" class="panel-collapse collapse">
				<div class="panel-body">
					平衡宝暂时只支持Interactive Brokers。我们会不断扩展所支持的股票账户种类。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#col17">我在开通Interactive Brokers账户时遇到了问题，我应该找谁来解决？</a>
				</h4>
			</div>
			<div id="col17" class="panel-collapse collapse">
				<div class="panel-body">
					您可以联系我们，我们对您的开户流程进行全程服务和解答。我们也鼓励您联系Interactive Brokers了解详情。
				</div>
			</div>
		</div>
	</div>
</div>
</section>