  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">版权所有 &copy; {{ site.title }} 2015</span>
                </div>
				<div class="col-md-4">
				</div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">隐私条款</a>
                        </li>
                        <li><a href="#">使用条款</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>