<!-- Intro Section -->
<section id="intro" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">什么是平衡宝？</h2>
				<h3 class="section-subheading text-muted">平衡宝是一套为您私人定制的股票自动优化算法</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-centered text-center">
				当您选择一组股票后，平衡宝根据明日的股票价格预测，对您当前持有的股票配额进行优化。
				<strong>对于预计下跌的股票，平衡宝将减少持有量；对于预计上涨的股票，则将增加持有量。</strong>
				从而达到最大化明日的期望收益的目标，为您节省了手工交易所耗费的时间和精力。
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-3 col-xs-6">
				<span class="chart" data-percent="25">
					<span class="percent"></span>
					<p class="text-muted">MSFT所占比例</p>
				</span>
			</div>
			<div class="col-md-3 col-xs-6">
				<span class="chart" data-percent="25">
					<span class="percent"></span>
					<p class="text-muted">GOOG所占比例</p>
				</span>
			</div>
			<div class="col-md-3 col-xs-6">
				<span class="chart" data-percent="25">
					<span class="percent"></span>
					<p class="text-muted">AAPL所占比例</p>
				</span>
			</div>
			<div class="col-md-3 col-xs-6">
				<span class="chart" data-percent="25">
					<span class="percent"></span>
					<p class="text-muted">TSLA所占比例</p>
				</span>
			</div>
		</div>
	</div>
</section>