<!-- Services Section -->
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">先进，简单，安全，省心</h2>
				<h3 class="section-subheading text-muted">节省您在股票市场上所耗费的精力</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">先进的算法</h4>
				<p class="text-muted">平衡宝基于先进的机器学习算法。通过对历史数据进行分析，对明日的涨跌进行预测，自动优化您当前持有的股票配额，从而最大化明天的收益！</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">更多的回报</h4>
				<p class="text-muted">实验表明，相较于投资指数基金和持有策略，平衡宝能够为您带来更丰厚的回报。您无需过分担心风险。平衡宝的算法可以有效地对冲掉因价格波动产生的风险。</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-money fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">低廉的佣金</h4>
				<p class="text-muted">每个月，平衡宝只从您的股票盈利中抽取少额（ 小于20%）作为佣金。当您没有盈利时，平衡宝并不收取任何佣金。对于您每天的股票交易中，平衡宝不收取任何中介交易费。</p>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-users fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">私人的定制</h4>
					<p class="text-muted">您无需研究股票各种术语，也无需对平衡宝进行复杂的设置。您只需要告诉我们：您看好的哪只股票？您期望多少收益？您能承担的风险？我们来为您定制私人的平衡宝。</p>
				</div>
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-lock fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">安全的保障</h4>
					<p class="text-muted">所有的交易完全在您的账户中进行，您的股票及现金完全掌握在您的手中。平衡宝无权转移您的股票和现金到其它账户。您可以随时暂停、终止平衡宝对您账户的操作，这不会影响您已经获得的收益。</p>
				</div>

			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">省心的服务</h4>
				<p class="text-muted">从第一步开始，就有我们陪同帮助您一起开通股票账户。其余的就交给平衡宝吧！你可以随时登陆股票账户查看您的账户。我们也将每月向您汇报收益情况。</p>
			</div>

			</div>
		</div>
	</div>
</section>