<!-- Intro Section -->
<section id="status">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">实时状态</h2>
				<h3 class="section-subheading text-muted">某客户从2015年2月20日开始使用平衡宝对12只股票进行交易。<br>经其授权，我们在这里展示其平衡宝的每日状态。</h3>
            </div>
        </div>
		<br>
		<br>
		<div class="row overview">
			<div class="col-md-5 user-pad text-center">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-money fa-stack-1x fa-inverse"></i>
				</span>
				<h3>预期年化收益率</h3>
				<h4 v1>37.75%</h4>
			</div>
			<div class="col-md-2 user-pad text-center">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
				</span>
				<h3>夏普指数</h3>
				<h4 v2>2.25</h4>
			</div>
			<div class="col-md-5 user-pad text-center">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-level-down fa-stack-1x fa-inverse"></i>
				</span>
				<h3>最大回撤</h3>
				<h4 v3>-3.42%</h4>
			</div>
		</div>
	</div>
</section>
